<div class="column">
    <div class="ui card" style="width: 230px">
        <div class="image">
            <img id="avatar" src="">
        </div>
        <div class="content">
            <h3 class="ui header" id="name-user"></h3>
            <div class="meta" id="meta-data-post-ad">
                <span id="date-create-account" class="date"></span>
            </div>
        </div>
        <div class="extra content">
            <a><i class="users icon"></i>2 Members</a>
        </div>
    </div>
    <a class="ui basic button" href="/add-advertisement" style="width: 230px">
            <i class="add icon"></i>Add Advertisement
    </a>

</div>
