<div class="ui card">
	<div class="image">
		<img id="avatar" src="">
	</div>
	<div class="content">
		<div id="name-user" class="header"></div>
		<div id="meta-data-post-ad" class="meta">
			<span id="date-create-account" class="date"></span>
		</div>
	</div>
</div>

<!--
	<div class="extra content">
		<a>
			<i class="users icon"></i>
			2 Members
		</a>
	</div>
	<div class="ui segent" id="left-column-block">
-->

<script>
    render_page_element();
</script>
