<div class="ui card">
    <div class="ui slide masked reveal image">
        <img id="avatar" src="" class="visible content">
        <img src="../semantic/dist/images/example.jpg" class="hidden content">
    </div>
    <div class="content">
        <!--<a class="header" ><b id="name-user"></b></a>-->
        <h3 class="ui header" id="name-user"></h3>
        <div class="meta" id="meta-data-post-ad">
            <span class="date">Create in Sep 2014</span>
        </div>
    </div>
    <div class="extra content">
        <a><i class="users icon"></i>2 Members</a>
    </div>
</div>