<div class="column" style="width: 260px; margin-left: 10px ">
    <div class="ui card">
        <div class="ui slide masked reveal image">
            <img src="../semantic/dist/images/Putin.jpg" class="visible content">
            <img src="../semantic/dist/images/example.jpg" class="hidden content">
        </div>
        <div class="content">
            <a class="header"><%= data.name %> <%= data.surname %></a>
            <div class="meta">
                <span class="date">Create in Sep 2014</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="users icon"></i>
                2 Members
            </a>
        </div>
    </div>
</div>