
<div class="ui link  items">
        <div class="item">
            <a class="ui move down reveal" style="height: 120px">
                <div class="visible content">
                    <img src="../semantic/dist/images/cat-one.jpg" class="ui tiny image" style="margin-right: 5px">
                </div>
                <div class="hidden content">
                    <img src="../semantic/dist/images/cat-two.jpg" class="ui tiny image" style="margin-right: 5px">
                </div>
            </a>

            <div class="content">
                <div class="header">Meet Bella!</div>
                <div class="meta">
                    <span class="price">I'll give in good hands</span>
                    <span class="stay">1 week ago</span>
                </div>

                <div class="description">
                     <p>Some thing about post</p>
                    <div class="extra">
                        <div class="ui label">cats</div>
                        <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated star">
                      <i class="favorite icon"></i>Favorite
                    </span>
                </div>
            </div>
        </div>
</div>