<div class="ui sticky">
    <div class="ui form">
        <div class="field">
            <div class="main ui container" style="margin-top: 15px">
                <h3 class="ui dividing header"><i class="list layout icon"></i>Category</h3>
            </div>
            <div class="ui vertical menu fluid">
                <div class="ui floating labeled icon dropdown button" id="animals-tag" style="width: 100%; border-radius: 0">
                    <input type="hidden" name="animalsInput">
                    <i class="paw icon"></i>
                    <span class="text">Animals</span>
                    <div class="menu">
                        <div class="ui icon search input" style="width: auto">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search tags...">
                        </div>
                        <div class="divider"></div>
                        <div class="header"> <i class="tags icon"></i>What kind of animal do you want to give?</div>
                        <div class="scrolling menu"></div>
                    </div>
                </div>

                <div class="ui floating labeled icon dropdown button disabled" id="group-tag" style="width: 100%; border-radius: 0">
                    <input type="hidden" name="groupInput">
                    <i class="circle thin icon"></i>
                    <span class="text">Group</span>
                    <div class="menu">
                        <div class="ui icon search input"  style="width: auto"> <i class="search icon"></i> <input type="text" placeholder="Search tags..."> </div>
                        <div class="divider"></div>
                        <div class="header"> <i class="tags icon"></i>Group of animals</div>
                        <div class="scrolling menu"></div>
                    </div>
                </div>

                <div class="ui floating labeled icon dropdown button disabled" id="breeds-tag" style="width: 100%; border-radius: 0">
                    <input type="hidden" name="breedsInput">
                    <i class="leaf icon"></i>
                    <span class="text">Breeds</span>
                    <div class="menu">
                        <div class="ui icon search input"  style="width: auto"> <i class="search icon"></i> <input type="text" placeholder="Search tags..."> </div>
                        <div class="divider"></div>
                        <div class="header"> <i class="tags icon"></i>What breed is your animal?</div>
                        <div class="scrolling menu"></div>
                    </div>
                </div>

                <div class="ui floating labeled icon dropdown button disabled" id="age-tag" style="width: 100%; border-radius: 0">
                    <input type="hidden" name="ageInput">
                    <i class="birthday icon"></i>
                    <span class="text">Age</span>
                    <div class="menu">
                        <div class="ui icon search input"  style="width: auto"> <i class="search icon"></i> <input type="text" placeholder="Search tags..."> </div>
                        <div class="divider"></div>
                        <div class="header"> <i class="tags icon"></i> How old is your pet? </div>
                        <div class="scrolling menu"></div>
                    </div>
                </div>

                <div class="ui floating labeled icon dropdown button disabled" id="gender-tag" style="width: 100%; border-radius: 0">
                    <input type="hidden" name="genderInput">
                    <i class="heterosexual icon"></i>
                    <span class="text">Gender</span>

                    <div class="menu">
                        <div class="ui icon search input"  style="width: auto"> <i class="search icon"></i> <input type="text" placeholder="Search tags..."> </div>
                        <div class="divider"></div>
                        <div class="header"> <i class="tags icon"></i> The gender of your animal </div>
                        <div class="scrolling menu"> </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="column">
        <div class="main ui container" style="margin-top: 15px">
            <h3 class="ui dividing header"> <i class="tags icon"></i> Add own tags </h3>
            <div class="ui vertical segment" id="block-own-tags"></div>
            <div class="main ui container" style="margin-top: 15px">
                <div class="ui right labeled left icon input fluid" id="searching-tags-db">
                    <i class="tags icon"></i>
                    <input type="text" placeholder="Enter tags" id="input-own-tags"  value="" multiple>
                    <a class="ui tag label" id="btn-own-tag">Add Tag</a>
                </div>
            </div>
        </div>
    </div>
</div>

