<div class="field" style="margin-top: 5px">
    <label for="input-file" class="ui icon button"><i class="images icon"></i>Загрузить изображения</label>
    <input type="file" multiple="multiple" id="input-file" name="inputFile" style="display:none">
</div>
<div class="two fields">
    <div class="field">
        <div class="ui corner labeled input">
            <input name="email" type="text" placeholder="Почта">
            <div class="ui corner label">
                <i class="asterisk icon"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="ui corner labeled input">
            <input name="phone" type="text" placeholder="+89999999999">
            <div class="ui corner label">
                <i class="asterisk icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="field">
    <div class="ui corner labeled input">
        <input name="header" type="text" placeholder="Кто ищет новый дом?">
        <div class="ui corner label">
            <i class="asterisk icon"></i>
        </div>
    </div>
</div>
<div class="field">
    <textarea id="wallTextArea" name="wallTextArea" type="text" placeholder="Опишите животное" cols="5"></textarea>
</div>

