<title>AniShelter</title>
<meta charset="utf-8">
<script src="../semantic/dist/jquery-3.2.1.min.js"></script>
<script src="../semantic/dist/semantic.min.js"></script>
<link rel="stylesheet" href="../semantic/dist/semantic.min.css">
<style>
  #header_img {
    width: 150px
  }
</style>