<head>
    <meta charset="utf-8">
    <title>AniShelter</title>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.css">
    <script src="../semantic/dist/jquery-3.2.1.min.js"></script>
    <script src="../semantic/dist/profile-data.js"></script>
    <link href="../semantic/dist/c13f37b67e.js" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../semantic/dist/font-awesome.css">
</head>