<!DOCTYPE html>
<html lang="en">
<head>
    <%include parts/opt/head.ejs%>
</head>
<body>
    <%include parts/menu.ejs%>

    <div class="main ui container">
        <h2 class="ui dividing header">
            <i class="newspaper icon"></i>
            New Advertisement
        </h2>
        <div class="ui four centered cards" id="upload-preview-image"></div>
        <form class="ui form">
            <div class="ui two column grid">
                <div class="column">
                    <%include parts/advertisement-parts/right-column.ejs%>
                </div>
                <div class="column">
                    <%include parts/advertisement-parts/left-tags-fields.ejs%>
                </div>
            </div>
                <div class="ui right floated animated fade submit button" tabindex="0">
                    <div class="visible content">Add advertisement</div>
                    <div class="hidden content">All right?</div>
                </div>
            <div class="ui error message"></div>
        </form>
    </div>
</body>
<script>
    var token = '<%= token %>';
    var id_account = '<%=id%>';
</script>
<script src="semantic/front/add-advertisement/add-advertisement-validation.js"></script>
<script src="semantic/front/add-advertisement/add-advertisement-data.js"></script>
<script src="semantic/front/add-advertisement/image-service.js"></script>

<script src="semantic/front/service/other_service.js"></script>
<script src="semantic/front/service/tags-service.js"></script>

<script src="semantic/front/service/data/post-ad/post-ad-data.js"></script>
<script src="semantic/front/service/data/file/image-data.js"></script>
<script src="semantic/front/service/data/tags/tags-data.js"></script>
</html>
