<!doctype html>
<html>
<head>
    <title>Messages</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.css">
    <script src="../semantic/dist/jquery-3.2.1.min.js"></script>
    <script src="../semantic/dist/semantic.js"></script>
    <link href="../semantic/dist/c13f37b67e.js" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../semantic/dist/font-awesome.css">
</head>
<body>
    <% include ./parts/menu.ejs %>

        <div id="left-column-block" class="ui three column grid" style="max-height: 650px; min-width: 1024px">

            <div class="two column row" style="min-height: 600px;  max-height: 600px">
                <div class="column" style="max-width: 25%; margin-left: 3%; ">
                    <div class="ui segment" style="overflow-y: scroll;">
                        <div class="ui link items" id="dialog-block" style="min-height: 570px; max-height: 570px"></div>

                    </div>

                </div>
                <div class="column" >

                    <div class="ui vertical segment" style="min-height: 600px;  max-height: 600px">
                        <div class="ui segment disabled" id="message-scroll-block" style="overflow-y: scroll; min-height: 520px;  max-height: 520px">
                            <!--<div class="ui link cards" id="messages-block"></div>-->
                            <div class="ui comments" id="messages-block"></div>
                        </div>
                        <div class="field" >
                            <div class="ui disabled icon input" style="width: 90%" id="input-message">
                                <input id="message" type="text" placeholder="Write something" value="" style="height: auto">
                                <i class="circular image link icon"></i>
                            </div>
                            <div class="ui disabled basic icon button" id="send-msg-btn" onclick="wsSendMessage();">
                                <i class="send icon"></i>
                            </div>
                        </div>
                        <!--<div class="ui based button" onclick="wsCloseConnection()" style="margin-top: 5px">Disconnect</div>-->
                    </div>

                </div>
            </div>

        </div>
    <script src="semantic/front/messages/messages-event.js"></script>
    <script src="semantic/front/messages/messages-data.js"></script>
    <script src="semantic/front/profile/profile-event.js"></script>
    <script src="semantic/front/profile/profile-data.js"></script>
    <script>
        var token = '<%= token %>';
        var id_account = '<%=id%>';
        var is_me = '<%= is_me %>';

        var audio = new Audio();
        audio.preload = 'auto';
        audio.src = 'semantic/dist/sound/BubblePopWav.wav';

        $('#input-message').on('keydown', function (event) {
            if (event.keyCode === 13) {
                wsSendMessage();
            }
        });

        set_dialog_block();
        get_my_data();
    </script>

    <script src="semantic/front/messages/messages-socket.js"></script>
    <script src="semantic/front/service/data/file/image-data.js"></script>
</body>
</html>

<!--<div class="card" style="width: 100%">-->
    <!--<div class="content">-->
        <!--<i class="right floated star icon"></i>-->
        <!--<img class="left floated mini ui image" src="/semantic/dist/images/adam.png">-->
        <!--<div class="header">-->
            <!--<h5>Elliot Fu</h5>-->
        <!--</div>-->
        <!--<div class="meta">-->
            <!--Friends of Veronika-->
        <!--</div>-->
        <!--<div class="description">-->
            <!--Elliot requested permission to view your contact details-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->