<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <% include ./parts/opt/head.ejs%>
</head>
<body>
    <% include ./parts/menu.ejs %>

        <div id="left-column-block" class="ui three column center aligned grid" style="min-width: 260px; min-width: 1024px">

            <div class="two column row" style="min-height: 600px;  max-height: 600px">

                <div class="column" style="max-width: 25%; margin-left: 3%; ">

                    <div class="ui segment" style="height: 100%;">
                        <div class="ui link items" id="dialog-block" style="height: 100%; overflow-y: scroll;">

                            <!--<div class="item" style="height: auto">-->
                                <!--<div class="ui mini image">-->
                                    <!--<img src="semantic/dist/images/adam.png">-->
                                <!--</div>-->
                                <!--<div class="content">-->
                                    <!--<h4 class="ui header">Stevie Feliciano</h4>-->
                                    <!--<div class="description">-->
                                        <!--<p>Last message</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                    </div>

                </div>
                <div class="column" >

                    <div class="ui segment" id="messages-block" style="overflow-y: scroll; height: 100%"> </div>

                    <div class="field" >
                        <div class="ui icon input" style="width: 90%">
                            <input id="message" type="text" placeholder="Write something" value="" style="height: auto">
                            <i class="circular image link icon"></i>
                        </div>
                        <div class="ui basic icon button" onclick="wsSendMessage();">
                            <i class="send icon"></i>
                        </div>
                    </div>

                    <div class="ui based button" onclick="wsCloseConnection()" style="margin-top: 5px">Disconnect</div>
                </div>
            </div>

        </div>
    <script src="semantic/front/messages/messages-event.js"></script>
    <script src="semantic/front/messages/messages-data.js"></script>
    <script src="semantic/front/profile/profile-event.js"></script>
    <script src="semantic/front/profile/profile-data.js"></script>
    <script>
        var token = '<%= token %>';
        var id_account = '<%=id%>';
        var is_me = '<%= is_me %>';
        set_dialog_block();
        get_my_data();
    </script>


    <script src="semantic/front/messages/messages-socket.js"></script>
    <script src="semantic/front/service/data/file/image-data.js"></script>
</body>
</html>