<!DOCTYPE html>
<html>
    <head><% include ./parts/opt/head.ejs%></head>
    <body>
    <% include ./parts/menu.ejs %>

            <div id="main" class="ui three column grid" style="min-width: 1024px;margin-left: 35px;" >
                <div id="left-column-block" class="four wide column" style="min-width: 260px; ">
                <% include parts/profile-parts/left/left-column.ejs%>
                </div>

                <div id="content-column-block" class="eight wide column" style="min-width: 750px; ">
                    <% include parts/profile-parts/center/main/post-content.ejs%>
                </div>
                <div class="four wide column"></div>
            </div>

        <div class="ui dimmer modals page transition hidden">
        </div>

    </body>
    <script>
        var token = '<%= token %>';
        var id_account = '<%=id%>';
        var is_me = '<%= is_me %>';
        $( document ).ready(function() {
            console.log('is_me: ',is_me);
            menu_sticky();
            load_home(token, id_account);
            $(document.body).unbind('click').on('click', '#previews-button' ,function(){
                modal_event_switch($(this).closest('.ui.items').attr('id'));
            }).on('click', '.right.floated.star' ,function(){
                star_favorites_switch($(this).closest('.ui.items').attr('id'),$(this).find('.favorite.icon').attr('class'));
            }).on('click','.right.floated.icon-remove', function () {
                console.log('click .right.floated.icon-remove');
                delete_post_ad($(this).closest('.ui.items').attr('id'));
            });
        });
    </script>
    <script src="../semantic/front/profile/profile-event.js"></script>
    <script src="../semantic/front/profile/profile-data.js"></script>

    <script src="../semantic/front/service/other_service.js"></script>
    <script src="../semantic/front/service/post-ad-service.js"></script>
    <script src="../semantic/front/service/bookmarks-service.js"></script>

    <script src="../semantic/front/service/data/file/image-data.js"></script>
    <script src="../semantic/front/service/data/post-ad/post-ad-data.js"></script>
    <script src="../semantic/front/service/data/bookmarks/bookmarks-data.js"></script>
</html>