<!DOCTYPE html>
<html>
    <head>
        <script src="../semantic/front/profile-data.js"></script>
        <% include ./parts/opt/head.ejs%>
    </head>
    <body>
    <% include ./parts/menu.ejs %>

        <div id="main" class="ui stackable two column grid" style="margin-left: 32px" >
            <div id="left-column-block" class="column" style="width: 260px; ">
            <% include parts/profile-parts/left/left-column.ejs%>
            </div>
            <div id="content-column-block" class="column" style="width: 800px;  margin-left: 25px;">
                <% include parts/profile-parts/center/main/post-content.ejs%>
            </div>
        </div>

    </body>
    <script>
        $(document).ready(function() {
            data_update_profile('<%= token %>', '<%= id %>');
            update_data_post_ad('<%= token %>', '<%= id %>')
        });
    </script>
</html>