<!DOCTYPE html>
<html>
    <title>Profile</title>
    <% include ./parts/opt/head.ejs%>
    <body>
    <% include ./parts/menu.ejs %>
        <div id="main" class="ui stackable two column grid" >
            <% include parts/profile-parts/left/left-column.ejs%>
            <div id="content-profile" class="column" style="width: 800px;  margin-left: 15px;">
                <% include parts/profile-parts/center/main/post-content.ejs%>
            </div>
        </div>

    </body>

</html>