<!DOCTYPE html>

<html>
    <% include ./parts/opt/head.ejs%>
    <body>
    <% include ./parts/menu.ejs %>
                <div class="ui stackable two column grid" >
                        <% include ./parts/profile-parts/left-column.ejs%>
                        
                        <div class="column" style="width: 700px;  margin-left: 55px;">
                            <% include ./parts/profile-parts/about.ejs%>
                            <% include ./parts/profile-parts/post-content.ejs%>
                      </div>
                </div>
    </body>
</html>