<!DOCTYPE html>
<html>
    <head>
        <title>AniShelter</title>
        <% include ./parts/opt/head.ejs%>
    </head>
    <body>
    <% include ./parts/menu.ejs%>

        <div style="width: 350px; margin: auto;">
                <form id="form" class="ui form" method="post">
                        <div class="field">
                            <label>Email</label>
                            <input id="email" type="text" placeholder="email">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input id="password" type="password" placeholder="Password">
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" class="hidden">
                                <label>I agree to the Terms and Conditions</label>
                            </div>
                        </div>
                            <button class="ui button" id="button" type="button" name="button">Sign-in</button>
                    </form>
        </div>
        <script>
                $(document).ready(function(){
                    $("button").on('click',function(){
                        let email = document.getElementById("email").value;//$("input#phone").val();
                        let password = document.getElementById("password").value;//$("input#password").val();
                        console.log(JSON.stringify({ 'email':email, 'password':password}));
                        $.ajax({
                            url: 'http://185.77.205.82:3000/check', // url where to submit the request
                                type : "POST", // type of action POST || GET
                                dataType : 'JSON', // data type
                                data : JSON.stringify({ 'email':email, 'password':password})
                        }).then(function(data) {
                            console.log('data',data)
                            window.location = data.redirectUrl;
                        });
                    });
                });
            
            </script>
        
    </body>
</html>