<div class="ui top attached segment">
    <div class="ui items">
        <div class="item">
            <div class="ui small circular rotate left reveal image" style="border-radius: 5px; height: 200px">
                <img src="../semantic/dist/images/cat-one.jpg" class="visible content">
                <img src="../semantic/dist/images/cat-two.jpg" class="hidden content">
            </div>
            <div class="content">
                <a class="header">Header</a>
                <div class="meta">
                    <span>Description</span>
                </div>
                <div class="description">
                    <p></p>
                </div>
                <div class="extra content">
                    <div class="ui label">Limited</div>
                    <i class="favorite icon"></i>Favorite
                </div>
            </div>
        </div>
    </div>
</div>