<div class="ui top attached segment">
    <div class="ui card">
        <div class="ui small circular rotate left reveal image">
            <img src="../semantic/dist/images/cat-one.jpg" class="visible content">
            <img src="../semantic/dist/images/cat-two.jpg" class="hidden content">
        </div>
        <div class="content">
            <i class="right floated like icon"></i>
            <i class="right floated star icon"></i>
            <div class="header">Cute Dog</div>
            <div class="description">
                <p></p>
            </div>
        </div>
        <div class="extra content">
    <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
            <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
        </div>
    </div>
</div>