<%- include ../layout/head.ejs %>
      <div class="ui two column grid" style="min-width: 1000px">
        <div class="stretched row">

          <div id="left-column-block" class="four wide column" style="min-height: 550px">

            <div class="ui minimal comments" id="dialog-block" style="overflow-y: scroll; min-height: 550px; max-height: 550px">
              <h3 class="ui dividing header">Диалоги</h3>
            </div>
          </div>

          <div class="twelve wide column">
            <div id="name" class="ui top attached header" tabindex="0" style="min-height: 45px; max-height: 45px"></div>
            <div id="message-scroll-block" class="ui attached segment" style="overflow-y: scroll; min-height: 550px; max-height: 550px">
              <div class="ui comments" id="messages-block" style="max-width: 100%"></div>
            </div>
            <div id="input-message" class="ui disabled bottom attached segment" style="max-height: auto">
              <div class="ui disabled input action fluid">
                <input id="message_input" placeholder="Написать сообщение">
                <button class="ui disabled button" id="ws_send_button">
                  <i class="send icon"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

<script type="module" src="/assets/js/custom/messages/socket.js"></script>
<%- include ../layout/foot.ejs %>