<div class="ui segment">
	  <p>
		  <i class="address card big icon"></i>
		  Информация о пользователе
	  </p>
	  <div class="ui fitted divider"></div>
	  <p id="data-birthday">
	      <i class="birthday cake icon"></i>
	  </p>
	  <p id="data-phone">
	      <i class="phone volume icon"></i>
	  </p>
	  <p id="data-about">
	      <i class="user icon"></i>
	  </p>
</div>

<div class="ui divided items" id="ad-post-content">

</div>

