<div class="ui items" id="id">
    <div class="item">
        <div class="ui small circular rotate left reveal image" style="border-radius: 5px; height: auto">
            <img id="first-image" src="" class="visible content">
            <img id="second-image" src="" class="hidden content">
        </div>
        <div class="content">
            <a class="header" id="header-post-ad"></a>

            <div class="right floated star">
                <div id="data-tooltip-win" data-tooltip="Add to bookmark?" data-position="bottom center">
                    <i class="favorite icon"></i>Favorite
                </div>
            </div>

            <div class="meta">
                <span id="meta-data-postad"></span>
            </div>
            <div class="description">
                <p id="text-wall"></p>
            </div>
            <div class="extra content">
                <div class="ui labels" id="tag-column-post-ad"></div>
                <button class="ui right floated positive button" id="previews-button">Просмотр</button>
                <!--<div class="ui right floated buttons">-->
                    <!--<button class="ui button" id="previews-button">Preview</button>-->
                    <!--<div class="or" data-text="or"></div>-->
                    <!--<button class="ui positive button">Open</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
