<div class="ui card">
  <div class="image">
    <img id="avatar" src="">
  </div>
  <div class="content">
    <h3 id="name-user" class="ui center aligned header"></h3>
    <!--<div id="name-user" class="header">-->
    <!--</div>-->
    <div class="meta">
      <span  class="date"></span>
    </div>
  </div>


</div>