<!DOCTYPE html>
<html lang="en">
<head>
    <%include opt/head.ejs%>
</head>
<body>
<%include menu.ejs%>
<div class="ui internally celled grid">
    <div class="row">
        <div class="three wide column" >
            <!--<div class="ui small circular rotate left reveal image">-->
                <!--<img src="../semantic/dist/images/cat-one.jpg" class="visible content" style="border-radius: 0%; ">-->
                <!--<img src="../semantic/dist/images/cat-two.jpg" class="hidden content">-->
            <!--</div>-->
            <img src="../semantic/dist/images/cat-one.jpg" class="ui small image" >
        </div>
        <div class="ten wide column">
            <p></p>
        </div>
        <div class="three wide column">
        </div>
    </div>
    <div class="row">
        <div class="three wide column">
            <img src="../semantic/dist/images/cat-one.jpg" >
        </div>
        <div class="ten wide column">
            <p></p>
        </div>
        <div class="three wide column">
        </div>
    </div>
</div>
</body>
</html>