<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../semantic/front/find-pet-data.js"></script>
    <%include opt/head.ejs%>
</head>
<body>
    <%include menu.ejs%>

    <div id="main" class="ui stackable two column grid" style="margin-left: 32px" >
        <div id="left-column-block" class="column" style="width: 260px; ">

        </div>
        <div id="content-column-block" class="column" style="width: 800px;  margin-left: 25px;">
            
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function() {
        data_update_find_pet('<%= token %>');
    });
</script>
