<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../semantic/front/find-pet/find-pet-data.js"></script>
    <script src="../semantic/front/find-pet/show-find-pet-data.js"></script>
    <script src="../semantic/front/service/other_service.js"></script>
    <script src="../semantic/front/profile/show-profile-data.js"></script>
    <script src="../semantic/front/profile/profile-data.js"></script>
    <script src="../semantic/front/service/bookmarks-service.js"></script>
    <%include opt/head.ejs%>
</head>
<body>
    <%include menu.ejs%>

    <div id="main" class="ui stackable two column grid" style="margin-left: 32px" >
        <div id="left-column-block" class="column" style="width: 260px; ">

        </div>
        <div id="content-column-block" class="column" style="width: 800px;  margin-left: 25px;">
            <div class="ui top attached segment" id="ad-post-content">

            </div>
        </div>
    </div>
    <div class="ui dimmer modals page transition hidden">
    </div>
</body>
</html>

<script>
    var token = '<%= token %>';
    var id_account = '<%=id%>';
    window.onload = function() {
        show_post_ad(token)
        menu_sticky();
        star_favorites_switch();
        modal_event_switch();
    };
</script>
