<div class="ui pointing menu" style="margin-top: 10px; margin-left: 10px; margin-right: 10px">
    <a class="active item">
        <i class="home icon"></i>Home
    </a>
    <a class="item">
        <i class="icon mail"></i> Messages
        <div class="floating ui red label" >22</div>
    </a>
    <a class="item">
        <i class="alarm icon"></i> Notification
        <div class="floating ui teal label">22</div>
    </a>
    <div class="right menu" >
       <div data-tooltip="That is your bookmarks!" data-position="bottom center">
           <a class="ui item" href="#" >
               <i class="bookmark icon"></i>Bookmarks
           </a>
       </div>

        <div data-tooltip="Do you want to sign out?" data-position="bottom right">
            <a class="ui item"  href="#">
                <i class="sign out icon"></i>Logout
            </a>
        </div>
    </div>
</div>