<div class="ui menu">
	<div class="header item">
		<img id="header_img" src="../semantic/dist/images/k-horizontal(small).png">
	</div>
    <% if (typeof token !='undefined') { %>
        <% if(typeof url !='undefined' && url !== '/advertisement' && is_me) { %>
        <a class="item" onclick="show_home('<%=token%>', '<%=id%>')">
			<i class="home icon"></i>
			Home
        </a>
    	<% } else { %>
        <a class="item" href="/profile/:">
			<i class="home icon"></i>
			Home
        </a>
    	<% } %>
		<a class="item" href="/messages">
			<i class="icon mail"></i>
			Messages
			<div class="ui red label floating" id="unread-message-label" style="top: 2.3em; matgin: 0 0 0 -2.7em!important">0</div>
		</a>
		<a class="item">
			<i class="alarm icon"></i>
			Notification
			<div class="ui teal label floating" style="top: 2.3em; matgin: 0 0 0 -2.7em!important">5</div>
		</a>
		<div class="right menu">
			<div data-tooltip="You can find a pet!" data-position="bottom center">
				<a class="ui item" href="/advertisement">
					<i class="paw icon"></i>
					Find a pet
				</a>
			</div>
			<% if (typeof url != 'undefined' && url !== '/advertisement' && is_me) { %>
				<div data-tooltip="That is your bookmarks!" data-position="bottom center">
					<a class="ui item" onclick="show_bookmarks()" >
						<i class="bookmark icon"></i>
						Bookmarks
						<div class="floating ui teal label"></div>
					</a>
				</div>
			<% } else { url = undefined; %>
				<div data-tooltip="That is your bookmarks!" data-position="bottom center">
					<a class="ui item" onclick="load_bookmarks(window.token, window.id)" >
						<i class="bookmark icon"></i>
						Bookmarks
						<div class="floating ui teal label"></div>
					</a>
				</div>
			<% } %>
			<div data-tooltip="Do you want to sign out?" data-position="bottom right">
				<a class="ui item"  href="/log-out">
					<i class="angle right icon"></i>
					Logout
				</a>
			</div>
		</div>
    <% } else { %>
    <div data-tooltip="Do you want to sign out?" data-position="bottom right">
        <a class="ui item">
          <i class="question circle outline icon"></i>
          Get Started
        </a>
    </div>
    <div data-tooltip="Do you want to sign out?" data-position="bottom right">
        <a class="ui item">
          <i class="sign in alternate icon"></i>
			    Log in
        </a>
    </div>
    <% } %>
</div>