<div class="ui pointing menu" style="margin-top: 12px; margin-left: 45px; margin-right: 45px">
    <!--<div class="item">-->
        <img src="../semantic/dist/images/label3.png" style="height: 40px">
    <!--</div>-->
    <%if (typeof token !== 'undefined') { %>
    <a class="item" onclick="show_home('<%=token%>', '<%=id%>')">
        <i class="home icon" ></i>Home
    </a>
    <a class="item">
        <i class="icon mail"></i> Messages
        <div class="floating ui red label" >22</div>
    </a>
    <a class="item">
        <i class="alarm icon"></i> Notification
        <div class="floating ui teal label">22</div>
    </a>
    <div class="right menu" >
        <div data-tooltip="You can find a pet!" data-position="bottom center">
            <a class="ui item" href="/advertisement">
                <i class="paw icon"></i>Find a pet
            </a>
        </div>

        <div data-tooltip="That is your bookmarks!" data-position="bottom center">
            <a class="ui item" onclick="show_bookmarks()" >
                <i class="bookmark icon"></i>Bookmarks
                <div class="floating ui teal label"></div>
            </a>
        </div>

        <div data-tooltip="Do you want to sign out?" data-position="bottom right">
            <a class="ui item"  href="/log-out">
                <i class="sign out icon"></i>Logout
            </a>
        </div>
    </div>
    <%}else{%>
    <div data-tooltip="Do you want to sign out?" data-position="bottom right">
        <a class="ui item">
            <i class="write icon"></i>Get Started
        </a>
    </div>
    <div data-tooltip="Do you want to sign out?" data-position="bottom right">
        <a class="ui item"  >
            <i class="sign in icon"></i>Log in
        </a>
    </div>
    <%}%>
</div>

