<%- include ../layout/head.ejs %>
  <div class="ui one column centered grid">
    <div class="six wide column">
      <div class="ui segment">
        <form class="ui form" method="POST">
          <div class="field">
            <label for="firstname">
              <i class="address card icon"></i>
              Имя
            </label>
            <input id="firstname" name="firstname" type="text" placeholder="Иван" required>
          </div>
          <div class="field">
            <label for="lastname">
              <i class="address card icon"></i>
              Фамилия
            </label>
            <input id="lastname" name="lastname" type="text" placeholder="Иванов" required>
          </div>
          <div class="field">
            <label for="phone">
              <i class="phone icon"></i>
              Моб. номер
            </label>
            <input id="phone" name="phone" type="number" placeholder="xxxxxxxxxxx" required>
          </div>
          <div class="field">
            <label for="email">
              <i class="envelope icon"></i>
              Почта
            </label>
            <input id="email" name="email" type="email" placeholder="example@example.com" required>
          </div>
          <div class="field">
            <label for="password">
              <i class="lock icon"></i>
              Пароль
            </label>
            <input id="password" name="password" type="password" placeholder="********" required>
          </div>
          <div class="ui two column grid">
            <div class="column">
              <button class="ui fluid button" type="submit">Зарегистрироваться</button>
            </div>
            <div class="column">
              <button class="ui fluid button" type="button" onclick="window.location.href = '/authentication/sign-in'">Отмена</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<%- include ../layout/foot.ejs %>