<%- include ../layout/head.ejs %>
<div class="sixteen wide column">
    <h2 class="ui dividing header">
        <i class="address card icon"></i>Регистрация
    </h2>
</div>
    <form class="ui form" >
        <div class="ui three column very relaxed grid">

            <div class="column">
                <div class="ui four centered cards" id="upload-preview-avatar" style="display: none"></div>
                <div class="field" style="margin-top: 5px">
                    <label for="input-file" class="ui icon button"><i class="image icon"></i>Загрузить изображение</label>
                    <input type="file"  id="input-file" name="inputFile" style="display:none"><!--multiple="multiple"-->
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label for="firstname">
                        <i class="address card icon"></i>Имя
                    </label>
                    <input id="firstname" name="firstname" type="text" placeholder="Иван" >
                </div>
                <div class="field">
                    <label for="lastname">
                        <i class="address card icon"></i>Фамилия
                    </label>
                    <input id="lastname" name="lastname" type="text" placeholder="Иванов" >
                </div>
                <div class="field">
                    <label for="phone">
                        <i class="phone icon"></i>Моб. номер
                    </label>
                    <input id="phone" name="phone" type="number" placeholder="xxxxxxxxxxx" >
                </div>

                <div class="three fields" id="birthday">
                    <div class="field" >
                        <div class="ui fluid selection dropdown" id="day-button" style="width: 100%; border-radius: 0">
                            <input type="hidden" name="dayInput">
                            <span class="text">day</span>
                            <div class="menu">

                            </div>
                        </div>

                    </div>
                    <div class="field" >
                        <div class="ui fluid selection dropdown" id="month-button" style="width: 100%; border-radius: 0">
                            <input type="hidden" name="monthInput">
                            <span class="text">month</span>
                            <div class="menu">

                            </div>
                        </div>
                    </div>

                    <div class="field" >
                        <div class="ui fluid selection dropdown" id="years-button" style="width: 100%; border-radius: 0">
                            <input type="hidden" name="yearsInput">
                            <span class="text">year</span>
                            <div class="menu">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label for="email">
                        <i class="envelope icon"></i>Почта
                    </label>
                    <input id="email" name="email"  placeholder="example@example.com" >
                </div>
                <div class="field">
                    <label for="password">
                        <i class="lock icon"></i>Пароль
                    </label>
                    <input id="password" name="password" type="password" placeholder="********" >
                </div>
            </div>

            <div class="column">
                <div class="field">
                    <label for="about">
                        <i class="user icon"></i>О себе
                    </label>
                    <textarea id="about" name="about" type="text" placeholder="About yourself" cols="5"></textarea>
                </div>
            </div>
        </div>
        <div class="ui two column grid">
            <div class="column">
                <button class="ui fluid button" type="submit">Зарегистрироваться</button>
            </div>
            <div class="column">
                <button class="ui fluid button" type="button" onclick="window.location.href = '/authentication/sign-in'">Отмена</button>
            </div>
        </div>
    </form>


<script type="module" src="/assets/js/custom/authentication/get.started/get.started.validation.js"></script>

<%- include ../layout/foot.ejs %>